.container {
	width: 15rem;
	background-color: #ffffff;
}
/*头部*/
.container-top {
	position: fixed;
	top: 0rem;
	left: 0rem;
	z-index: 666;
	text-align: center;
	width: 100%;
	height: 1.78rem;
	line-height: 1.78rem;
	padding: 0 0.3rem;
	font-size: 0.72rem;
	font-weight: 700;
	color: #333333;
	background-color: #ffffff;
}
.icon-back {
	position: absolute;
	top: 0.4rem;
	left: 0.32rem;
	background: url(./../../statics/img/icon-back-black.png) no-repeat;
	width: 0.52rem;
	height: 0.88rem;
	background-size: 100% 100%;
}
.top-title-a {
	position: absolute;
	top: 0rem;
	left: 1.38rem;
	font-weight: 400;
	font-size: 0.6rem;
	color: #ffffff;
}
.container-body-5 {
	position: fixed;
	top: 1.76rem;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
	overflow-y: auto;
}
.satisfy-bg {
	position: relative;
	width: 15rem;
	height: 8rem;
}
.icon-satisfy-bg {
	position: absolute;
	top: 0rem;
	left: 0rem;
	background: url("./../../statics/img/icon-satisfy-bg.png") no-repeat;
	width: 15rem;
	height: 8rem;
	background-size: 100% 100%;
}

/*选择部分*/
.satisfy-choose {
	position: relative;
	width: 15rem;
	height: 16.85rem;
}
.satisfy-choose:before {
	position: absolute;
	top: -1.45rem;
	left: 0rem;
	content: "";
	background: url("./../../statics/img/icon-choose-bg.png") no-repeat;
	width: 15rem;
	height: 18.3rem;
	background-size: 100% 100%;
}
.satisfy-choose-top {
	position: relative;
	width: 15rem;
	height: 2rem;
	color: #ffffff;
	font-size: 0.5rem;
	z-index: 2;
	padding-left: 0.9rem;
	padding-right: 1rem;
	padding-top: 1.4rem;
	margin-bottom: 0.8rem;
}
.satisfy-choose-1 {
	position: absolute;
	top: 0.5rem;
	left: 1.2rem;
}
.satisfy-choose-2 {
	position: absolute;
	top: 0.5rem;
	left: 6.5rem;
}
.satisfy-choose-2:after {
	position: absolute;
	top: 0rem;
	left: 1.2rem;
	content: "题";
}
.satisfy-choose-3 {
	position: absolute;
	top: 0.5rem;
	right: 1.2rem;
}
/*进度条*/
.mui-progressbar-warning {
	height: 0.3rem;
	border-radius: 0.3rem;
}
.mui-progressbar-warning span {
	background-color: #fb5f53;
}
/*选项*/
.select-option {
	width: 100%;
}
.select-option-list {
	width: 100%;
	height: 9rem;
	overflow-y: auto;
}
.select-option-title {
	position: relative;
	z-index: 2;
	width: 13rem;
	font-size: 0.7rem;
	line-height: 0.9rem;
	border: 0.1rem solid #39404a;
	border-radius: 0.5rem;
	margin-left: 1rem;
	color: #ffffff;
	padding: 0.6rem 0.8rem;
	margin-bottom: 0.6rem;
}
.select-option-group {
	/*padding-left: 1.2rem;*/
	position: relative;
	z-index: 2;
	margin-bottom: 0.4rem;
}
.select-option-row {
	position: relative;
	height: 1rem;
	line-height: 1rem;
	padding-left: 2.6rem;
}
.select-option-row:before {
	position: absolute;
	top: 0.1rem;
	left: 1.8rem;
	content: "";
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 0.06rem;
	background-color: #ffffff;
}
.option-active{
	position: absolute;
	top: 0.2rem;
	left: 1.92rem;
	background: url("./../../statics/img/correct-icon.png") no-repeat;
	width: 0.6rem;
	height: 0.6rem;
	background-size: 100% 100%;
}
.select-option-input {
	position: absolute;
	top: 0rem;
	left: 0rem;
	width: 100%;
	height: 1rem;
	z-index: 6;
	opacity: 0;
}
/*底部按钮*/
.satisfy-bottom-btn {
	width: 15rem;
	height: 1.3rem;
	position: absolute;
	bottom: 0.9rem;
	left: 0rem;
	z-index: 6;
	padding: 0rem 1rem;
}
/*底部按钮*/
.bottom-btn {
	width: 4.6rem;
	height: 1.3rem;
	text-align: center;
	border-radius: 0.2rem;
	border: 0.02rem solid #fb5d54;
	font-size: 0.5rem;
	color: #ffffff;
	background-color: #2e353d;
}
.bottom-btn-active {
	background: linear-gradient(to right,#fb5d52,#f8825a);
}
.satisfy-bottom-btn button:first-child {
	float: left;
}
.satisfy-bottom-btn button:nth-child(2) {
	float: right;
}
.satisfy-bottom-btn button:nth-child(3) {
	float: right;
	background: linear-gradient(to right,#fb5d52,#f8825a);
}







.satisfy-top {
	padding: 0.4rem;
}
.satisfy-top-describle {
	font-size: 0.6rem;
	color: #333333;
	line-height: 1rem;
	text-align: justify;
	text-justify: inter-ideograph;
}
.satisfy-select {
	padding: 0rem 0.4rem;
}
.satisfy-title {
	font-size: 0.6rem;
	color: #ffffff;
}
.satisfy-title-p {
	font-size: 0.6rem;
	line-height: 0.6rem;
	color: #ffffff;
	margin-top: 0.6rem;
	margin-bottom: 0.4rem;
}
.satisfy-list {
	margin-top: 0.3rem;
	margin-bottom: 0.6rem;
	border-radius: 0.2rem;
	border: 0.02rem solid #cccccc;
}
.satisfy-group {
	font-size: 0.6rem;
	color: #333333;
	border-bottom: 0.02rem solid #cccccc;
}
.satisfy-list li:last-of-type {
	border-bottom: 0rem solid #cccccc;
}
.satisfy-label {
	margin-left: 0.6rem;
	font-size: 0.6rem;
	color: #ffffff;
}
.satisfy-writing {
	padding: 0.6rem 0rem;
	padding-top: 0.4rem;
}
#satisfy-input1 {
	width: 11.4rem;
	height: 1.2rem;
	margin-left: 2.2rem;
}
#satisfy-input2 {
	width: 11.4rem;
	height: 1.2rem;
	margin-left: 2.2rem;
}
.satisfy-evaluate {
	color: #999999;
	font-size: 0.6rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
.satisfy-textarea {
	font-size: 0.6rem;
	color: #333333;
	padding-left: 0.2rem;
	padding-top: 0.2rem;
}
.satisfy-flies {
	height: 1.4rem;
	line-height: 1.4rem;
	text-align: center;
	font-size: 0.6rem;
	color: #333333;
	border-radius: 0.2rem;
	border: 0.02rem solid #cccccc;
}
.satisfy-flies-name {
	font-size: 0.6rem;
	color: #333333;
}
.satisfy-flies-size {
	font-size: 0.6rem;
	color: #999999;
}
.satisfy-btn {
	margin-top: 1rem;
	width: 100%;
	height: 1.2rem;
	line-height: 0.6rem;
	color: #ffffff;
	font-size: 0.6rem;
	outline: none;
	background-color: #fa7959;
}
.satisfy-bottom {
	margin-top: 0.6rem;
	height: 1.1rem;
	line-height: 1.1rem;
	padding-right: 0.3rem;
	font-size: 0.6rem;
	color: #ffffff;
	text-align: right;
	background-color: #666666;
}


/* 星级评价 */
#star{
	width: 100%;
}
#star ul{
	height: 1.4rem;
	padding-top: 0.3rem;
	padding-left: 1.4rem;
	border-radius: 0.2rem;
	border: 0.02rem solid #cccccc;
}
#star li{
	float:left;
	width: 20%;
	cursor:pointer;
	text-align: right;
	background:url(./../../statics/img/star.png) no-repeat;
}
#star strong{
	color:#f60;padding-left:10px;
}
#star li.on{
	background-position:0 -28px;
}
#star li a {
	color: transparent;
}

/*提交成功提示*/
.submitMessage {
	display: none;
	position: fixed;
	top: 13rem;
	left: 3.5rem;
	z-index:333;
	font-size: 0.7rem;
	font-family:FangSong;
	width: 8rem;
	line-height: 1.8rem;
	text-align:center;
	border-radius: 0.3rem;
	color: #fb5d52;
	background: rgba(0,255,255,0.9);
}