/*巡检记录*/
.patrol {
	width: 15rem;
	padding-top: 1.6rem;
	background-color: #ffffff;
}
/*导航条*/
.patrol-top {
	position: fixed;
	top: 0rem;
	left: 0rem;
	z-index: 10;
	width: 100%;
	height: 1.6rem;
	line-height: 1.6rem;
	text-align: left;
	background-color: #0bab95;
}
.top-back-icon {
	position: absolute;
	top: 0.5rem;
	left: 0.66rem;
	background: url("../../../statics/img/login/icon-back.png") no-repeat;
	width: 0.38rem;
	height: 0.7rem;
	background-size: 100% 100%;
}
.top-back {
	font-size: 0.6rem;
	color: #ffffff;
	margin-left: 1.45rem;
	text-decoration: none;
}
.top-back-title {
	font-size: 0.6rem;
	color: #ffffff;
	margin-left: 1rem;
}

/*图片展示*/
.img-show {
	position: relative;
	width: 100%;
	height: 6.72rem;
	background-color: #ffffff;
}
.icon-standard-img {
	position: absolute;
	top: 0.24rem;
	left: 0.32rem;
	right: 0.32rem;
	bottom: 0.64rem;
	border-radius: 0.1rem;
	background: url("./../../img/login/icon-standard-img.png") no-repeat;
	width: 14.42rem;
	height: 5.82rem;
	background-size: 100% 100%;
}
.icon-dietroom-img {
	position: absolute;
	top: 0.24rem;
	left: 0.32rem;
	right: 0.32rem;
	bottom: 0.64rem;
	border-radius: 0.1rem;
	background: url("./../../img/login/icon-dietroom-img.jpg") no-repeat;
	width: 14.42rem;
	height: 5.82rem;
	background-size: 100% 100%;
}
.content-standard {
	width: 100%;
}
.standard-title {
	padding: 0rem 0.68rem;
}
.standard-title .standard-title-btn:first-child {
	margin-right: 0.2rem;
}
.standard-title-btn {
	width: 6.54rem;
	height: 1.44rem;
	line-height: 1.44rem;
	text-align: center;
	color: #ffffff;
	font-size: 0.6rem;
	border-radius: 0.2rem;
	background-color: #20b8a3;
	border: 0rem;
}
.title-btn-active {
	line-height: 1.2rem;
	background: linear-gradient(to bottom,#8de4d6,#188b79);
	border-top: 0.16rem solid #89e2d5;
	border-left: 0.16rem solid #20b59d;
	border-right: 0.16rem solid #20b59d;
	border-bottom: 0.16rem solid #188b79;
	box-shadow: 0.05rem 0.05rem 0.05rem #89e2d5;
}
.standard-details {
	width: 100%;
	padding-top: 0.88rem;
}
.standard-details-ul {
	padding: 0rem 0.88rem;
	padding-left: 1.74rem;
	/*height: 15.5rem;*/
	/*overflow-y: scroll;*/
}
.standard-details-li {
	position: relative;
	line-height: 0.8rem;
	font-size: 0.5rem;
	color: #666666;
}
#standard li:first-child {
	padding-left: 1.4rem;
}
.standard-details-order {
	position: absolute;
	top: 0rem;
	right: 12.6rem;
}
.standard-details-tool {
	position: absolute;
	top: 0rem;
	right: 11.2rem;
}
.standard-details-describle {
	line-height: 0.8rem;
}
