<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slk.patrol.mapper.P_region.PRegionMapper">

    <resultMap id="regionlevelMap" type="com.slk.patrol.model.P_region.PRegionCustom">
        <id column="r1id" property="id"/>
        <result column="r1name" property="name" />
        <collection property="pregion" ofType="com.slk.patrol.model.P_region.PRegion">
            <id column="r2id" property="id"/>
            <result column="r2name" property="name" />
        </collection>
    </resultMap>

    <select id="getRegionlevel" resultMap="regionlevelMap">
        SELECT r1.id r1id,r1.name r1name,r2.id r2id,r2.name r2name FROM `p_region` r1
        LEFT JOIN p_region r2 ON r2.Parent_ID = r1.id
        WHERE r1.Parent_ID = 0 AND r1.`level` = 1 ORDER BY r1.id,r2.id
    </select>

    <select id="getRegionBylevel" parameterType="java.lang.Integer" resultType="com.slk.patrol.model.P_region.PRegion">
        SELECT r1.* FROM `p_region` r1 WHERE  r1.`level` = #{value} ORDER BY r1.id
    </select>
</mapper>